export(bdcomplete)
export(chronohorogram)
export(fixstr)
export(getcellid)
export(gettaxo)
export(mapgrid)
export(summary)
export(taxotree)
export(tempolar)
import(ggplot2)
import(grid)
import(maps)
import(plotrix)
import(plyr)
import(sqldf)
import(taxize)
import(treemap)
